---
import Layout from "../../../layouts/Layout.astro";
import { Breadcrumbs, BreadcrumbsItem } from 'accessible-astro-components';
import Title from "../../../components/title.astro";
import SubCatCards from "../../../components/SubCatCards.astro";
import {slugify} from "../../../js/utils.js";

import { contentfulClient } from "../../../lib/contentful";
import type { Category } from "../../../lib/contentful";

const { category } = Astro.props;

// Create Category Folders
export async function getStaticPaths() {
    const categories = await contentfulClient.getEntries<Category>({
    content_type: "category",
    });

  const prodCategories = categories.items.map((item) => ({
      params: { category: item.fields.name },
      props: { category: item.fields.name }
    }));
    return prodCategories;
};
 
// Get all Categories for CatNav
const categories = await contentfulClient.getEntries<Category>({
  content_type: "category",
});
const cardCategories = categories.items.map((item) => {
  const { name, displayCard, sortOrder } = item.fields;
  return {
    name,
    displayCard,
    sortOrder
  };
});

var sortedCats = cardCategories.sort(({sortOrder:a}, {sortOrder:b}) => a-b);
---

<Layout pageTitle="Our Range | I&J">
  <Breadcrumbs>
    <BreadcrumbsItem 
      href="/"
      label="Home"
    />
    <BreadcrumbsItem
      currentPage={true}
      label={category}
    />
  </Breadcrumbs>
  <Title pageTitle="Our Range" />
  <div class="catnav-mobile">
    <select>
      {sortedCats.map((card) => (
      (card.displayCard) &&
        <option value="..\${card.name}" selected="">{card.name}</option>
      ))}
    </select>
  </div>
  <div class="catnav-desktop">
    {sortedCats.map((card) => (
    (card.displayCard) &&
    <a href="..\${card.name}">
      <p>{card.name}</p>
    </a>
    ))}
  </div>
  <SubCatCards category={category}/>
</Layout>

<style lang="scss">
.catnav-mobile {
  margin: 0 auto;
  & select {
  margin-top: -15px;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 16px;
  min-width: 300px;
  text-align: center;
  }
}
.catnav-desktop {
  display: none;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 30px;
  font-size: 18px;
  & a {
      text-decoration: none;
      color: #000;
    }
  & p{
    padding: 20px 80px;
    border: 1px black solid;
    background-color: white;

  }
}
.black {
  background-color: #000;
  color: #fff
  ;
}
@media (min-width: 768px) {
  .catnav-mobile {
    display: none;
  }
  .catnav-desktop {
    display: flex;
  }
}
</style>